{% extends 'hyper/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set selectedNavItem = 'general' %}
{% set fullPageForm = false %}

{% block content %}

<h2>{{ 'General Settings' | t('hyper') }}</h2>

{{ actionInput('plugins/save-plugin-settings') }}
{{ hiddenInput('hyper') }}
{{ redirectInput('hyper/settings') }}
{{ csrfInput() }}

{% namespace 'settings' %}

<p>{{ 'No settings available.' | t('hyper') }}</p>

{% endnamespace %}

{% endblock %}
