{% extends 'hyper/_layouts' %}

{% import '_includes/forms' as forms %}

{% do view.registerTranslations('hyper', [
    'New link type',
    'Select a link type to edit.',
    'Link Fields',
    'Configure the fields and UI elements available to links.',
    'Are you sure you want to delete “{name}”?',
]) %}

{% set fullPageForm = true %}
{% set title = isNew ? 'Create a new link type config' | t('hyper') : config.name %}
{% set crumbs = [
    { label: craft.hyper.plugin.name, url: url('hyper') },
    { label: 'Settings' | t('app'), url: url('hyper/settings') },
    { label: 'Link Type Configs' | t('hyper'), url: url('hyper/settings/link-type-configs') },
] %}

{% block blockContent %}

{{ actionInput('hyper/plugin/save-link-type-config') }}
{{ redirectInput('hyper/settings/link-type-configs') }}
{{ hiddenInput('uid', config.uid) }}

{{ forms.textField({
    first: true,
    label: 'Name' | t('app'),
    instructions: 'What this link type config will be called in the control panel.' | t('hyper'),
    id: 'name',
    name: 'name',
    value: config.name,
    required: true,
    errors: config.getErrors('name'),
}) }}

{{ forms.textField({
    label: 'Handle' | t('app'),
    instructions: 'How you’ll refer to this link type config in field settings and project config.' | t('hyper'),
    id: 'handle',
    name: 'handle',
    class: 'code',
    value: config.handle,
    required: true,
    errors: config.getErrors('handle'),
}) }}

<hr>

<div class="field" aria-describedby="configurator">
    <div class="heading">
        <label>{{ 'Link Types' | t('hyper') }}</label>
    </div>

    <div id="configurator" class="instructions">
        <p>{{ 'Configure the types of links available for users to pick from.' | t('hyper') }}</p>
    </div>

    <div
        class="hyper-configurator"
        data-hyper-settings
        data-hyper-settings-config="{{ settingsConfig | json_encode | e('html_attr') }}"
    >
        {% include 'hyper/field/_settings-configurator' with {
            linkTypes: linkTypes,
            namespacedName: 'linkTypes[__PREFIX__]',
            fieldId: null,
        } only %}
    </div>
</div>

{% endblock %}

{% js %}
    {% if not config.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endjs %}
