{% do view.registerTranslations('hyper', [
    'Add a link',
    'Add {type}',
    'New Window',
]) %}

<div class="hyper-input-component" v-cloak
    data-props="{{ {
        idPrefix: idPrefix ?? null,
        value: value,
        valueResources: valueResources,
        inputSettings: settings,
        name: name,
        handle: field.handle,
        elementId: element.id ?? null,
        elementType: className(element),
        elementSiteId: element.siteId ?? null,
        elementDraftId: element.draftId ?? null,
        elementRevisionId: element.revisionId ?? null,
    } | json_encode | e('html_attr') }}"
>
    {# Render here so that ElementEditor.js doesn't detect a change from server-render to when Vue kicks in #}
    {% if isDebug %}
        <div class="input text" style="margin-bottom: 20px;">{{ value }}</div>
        <div data-store-debug class="input text" style="margin-bottom: 20px;">{{ value }}</div>
    {% endif %}

    <input data-store type="hidden" name="{{ name }}" value="{{ value }}">

    {# Dedicated mount root #}
    <div class="hyper-vue-root"></div>
</div>