{% do view.registerTranslations('hyper', [
    'Add a link',
    'Add {type}',
    'New Window',
]) %}

<div class="hyper-input-component" v-cloak>
    <hyper-input
        value="{{ value | json_encode }}"
        value-resources="{{ valueResources | json_encode }}"
        input-settings="{{ settings | json_encode }}"
        handle="{{ field.handle }}"
        :element-id="{{ element.id ?: 'null' }}"
        element-type="{{ className(element) }}"
        :element-site-id="{{ element.siteId ?: 'null' }}"
        :element-draft-id="{{ element.draftId ?: 'null' }}"
        :element-revision-id="{{ element.revisionId ?: 'null' }}"
    >
        {# Render here so that ElementEditor.js doesn't detect a change from server-render to when Vue kicks in #}
        <div v-if="$isDebug" data-store-debug class="input text" style="margin-bottom: 20px;">{{ value | json_encode }}</div>
        <input data-store type="hidden" name="{{ name }}" value="{{ value | json_encode }}">
    </hyper-input>
</div>
