/.github export-ignore
/.ddev export-ignore
**/.DS_Store export-ignore
/.plugin-store export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.env* export-ignore
/vendor export-ignore
/node_modules export-ignore
/tests export-ignore
/docs export-ignore
/build export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/composer.lock export-ignore
/phpunit*.xml export-ignore
/.pest.xml export-ignore
/tsconfig.json export-ignore
/vite.config.* export-ignore
