{% extends 'hyper/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set selectedNavItem = 'link' %}
{% set fullPageForm = response is not defined %}

{% block actionButton %}{% endblock %}

{% block blockContent %}

{{ redirectInput('hyper/settings/migrate/link') }}

<h2 class="first">{{ 'Migrate Link Fields' | t('hyper') }}</h2>

{% if response is not defined %}
    <p>{{ 'Migrate your Link fields and content to Hyper fields.' | t('hyper') }}</p>

    {{ 'This will **permanently** modify all your Link fields and cannot be reverted. We‘ll make a backup before the migration is run if you need to restore back to it.' | t('hyper') | md }}

    {{ 'This is a 2-step process. First, to migrate your fields. Second, to migrate your content.' | t('hyper') | md }}

    <h3>{{ 'Step 1. Migrate Fields' | t('hyper') }}</h3>

    {{ 'You should first migrate your fields over in an environment with `allowAdminChanges` set to `true`. Once migrated successfully, you can then migrate the content for those fields.' | t('hyper') | md }}

    <input type="submit" class="btn submit formsubmit" data-action="hyper/migrations/link-field" value="{{ 'Migrate Fields' | t('hyper') }}">

    <hr>

    <h3>{{ 'Step 2. Migrate Content' | t('hyper') }}</h3>

    {{ 'Once your fields have been migrated, the content for that field used in elements must be converted. You should run this in your local development environment to test everything migrates correctly. You can then deploy your field changes as run this as many times as you like on other environments. As content is stored per-environment, you\'ll need to run this step on each environment.' | t('hyper') | md }}

    <input type="submit" class="btn submit formsubmit" data-action="hyper/migrations/link-content" value="{{ 'Migrate Content' | t('hyper') }}">
{% else %}
    {% for formId, output in response %}
        {{ output | raw }}
    {% endfor %}

    <hr>

    <a class="btn submit" href="{{ cpUrl('hyper/settings/migrate/link') }}">{{ 'Done' | t('hyper') }}</a>
{% endif %}

{% endblock %}
