{% extends 'verbb-base/_layouts/settings' %}

{% requireAdmin %}

{% do view.registerAssetBundle('verbb\\hyper\\web\\assets\\cp\\HyperCpAsset') -%}

{% set crumbs = [
    { label: 'Settings' | t('app'), url: url('settings') },
    { label: 'Plugins' | t('app'), url: url('settings/plugins') },
    { label: craft.hyper.plugin.name | t('hyper'), url: url('hyper/settings') },
] | merge(crumbs ?? []) %}

{% set pageTabs = craft.hyper.settingsNavItems %}

{% set pageTitle = pageTitle ?? false %}
{% if title is not defined and pageTitle %}
    {% set title = pageTitle %}
{% endif %}

{% css %}
.log-label {
    white-space: pre-wrap;
}

.log-label code {
    white-space: normal;
    font-size: 11px !important;
    line-height: 18px;
}

.log-label.color-32 {
    color: #27ae60;
}

.log-label.color-31 {
    color: #d0021b;
}

.log-label.color-33 {
    color: #f2842d;
}

.log-label--info {
    color: #596673;
}

.log-label--nested {
    padding-left: 1.25em;
}

.hyper-settings-migrate-log {
    margin: 0 0 1.5em;
}

.hyper-settings-migrate-log .log-label + .log-label {
    margin-top: 0.25em;
}
{% endcss %}
