{% extends 'verbb-base/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set crumbs = [
    { label: 'Settings' | t('app'), url: url('settings') },
    { label: 'Plugins' | t('app'), url: url('settings/plugins') },
    { label: 'Hyper' | t('hyper'), url: url('hyper/settings') },
] | merge(crumbs ?? []) %}

{% set pageTabs = {
    general: { title: 'General Settings' | t('hyper'), url: url('hyper/settings') },
} %}

{% if craft.hyper.getPlugin().getService().isPluginInstalledAndEnabled('linkit') or craft.hyper.getPlugin().getService().isPluginInstalledAndEnabled('typedlinkfield') or craft.hyper.getPlugin().getService().isPluginInstalledAndEnabled('link') %}
    {% set pageTabs = pageTabs | merge({
        migrationsHeading: { heading: 'Migrations' | t('hyper') },
    }) %}
{% endif %}

{% if craft.hyper.getPlugin().getService().isPluginInstalledAndEnabled('linkit') %}
    {% set pageTabs = pageTabs | merge({ linkit: { title: 'Linkit' | t('hyper'), url: url('hyper/settings/migrate/linkit') } }) %}
{% endif %}

{% if craft.hyper.getPlugin().getService().isPluginInstalledAndEnabled('typedlinkfield') %}
    {% set pageTabs = pageTabs | merge({ typedLink: { title: 'Typed Link Field' | t('hyper'), url: url('hyper/settings/migrate/typed-link') } }) %}
{% endif %}

{% if craft.hyper.getPlugin().getService().isPluginInstalledAndEnabled('link') %}
    {% set pageTabs = pageTabs | merge({ link: { title: 'Link' | t('hyper'), url: url('hyper/settings/migrate/link') } }) %}
{% endif %}

{% set pageTitle = pageTitle ?? false %}
{% if title is not defined and pageTitle %}
    {% set title = pageTitle %}
{% endif %}

{% block settingsMeta %}
    {{ hiddenInput('pluginHandle', 'hyper') }}
{% endblock %}
